<div class="container mt-4">
    <div class="row justify-content-md-center">
        <div class="col-md-12 col-lg-8 mb-4 wrapper__editor" id="{{this.idArticle}}">
            <div class="form-group mt-5">
                <textarea id="editor">{{{content}}}</textarea>
            </div>

            <form id="save-article-form" >
                <button name="submitbtn" class="publish-article-button mt-5">Edit article</button>
            </form>

        </div>
    </div>
</div>
