<div class="wrapper__form">
    <form method="POST" action="/account-settings/new-password">
        <input type="password" placeholder="Write new password:" name="password">
        <button>Change password</button>
    </form>
</div>