<div class="wrapper__form">
    <form method="POST" action="/account-settings/new-username">
        <input type="text" placeholder="New username:" name="username">
        <button>Change username</button>
    </form>
</div>