<div class="wrapper__form">
    <form method="POST" action="/account-settings/new-email">
        <input type="email" placeholder="New email:" name="email">
        <button>Change email</button>
    </form>
</div>