<div class="wrapper__about">
    <h2>About what this project ?</h2>
    <p>
        This project I was created for spd-university Node js course (2021-2022) but now this is my website.
        You can upload photo, video, music, articles, send message and listen musis another user. Enjoy :)
    </p>

    <div class="wrapper__about-search">
        <form id="search-user-form">
            <input placeholder="Search user" data-role="input" required>
            <button type="submit">Search</button>
        </form>
    </div>

    <div class="wrapper__find-user">
        
    </div>
</div>
