<div class="wrapper__form">
    <form method="POST" action="/signup" id="signup-form">
        <input type="text" placeholder="Name:" name="name" required>
        <input type="text" placeholder="Username:" name="username" required>
        <input type="email" placeholder="Email:" name="email" required>
        <input type="password" placeholder="Password:" name="password" required>
        <button type="submit">Sign up</button>
    </form>
     <p class="text-center">Have account ? <a href="/auth">Sign in</a></p>
</div>

<div class="wrapper__message-signup mt-10 border">

</div>