<div class="wrapper__form">
    <form method="POST" action="/my-photo/upload-new-photo" enctype="multipart/form-data">
        <input type="text" placeholder="Theme:" name="theme" required>
        <input type="text" placeholder="description" name="description">
        <input class="upload-new-photo-file-input" type="file" name="file" data-role="file" data-button-title="<span class='mif-folder'></span>" required>
        <button>Upload new photo</button>
    </form>
</div>