<div class="wrapper__form">
    <form method="POST" action="/my-musics/upload-new-music" enctype="multipart/form-data">
        <input type="text" placeholder="Name music:" name="name" required>
        <input type="text" placeholder="Author:" name="author" required>
        <input class="upload-new-photo-file-input" type="file" name="file" data-role="file" data-button-title="<span class='mif-folder'></span>" required>
        <button>Upload new music</button>
    </form>
</div>