<div class="wrapper__textarea-write-article mt-5">
    <h2>Upload article with html</h2>
    <form action="/my-articles/write-article-with-html" method="POST">
        <input type="text" placeholder="Title: " name="title" minlength="1" class="wrapper__textarea-write-article-title" required>
        <input type="text" placeholder="Theme: " name="theme" minlength="1" class="wrapper__textarea-write-article-theme" required>
        <textarea class="wrapper__textarea-write-article-content" name="content" minlength="10" required>

        </textarea>
        <button class="mt-5 publish-article-button" type="submit">Publish article</button>
    </form>
</div>
