<div class="wrapper__form">
    <form method="POST" action="/account-settings/check-old-password">
        <input type="password" placeholder="Write old password:" name="password">
        <button>Submit</button>
    </form>
</div>