<div class="wrapper__form">
    <form action="/recovery-password/new-password/{{email}}" method="POST">
        <input type="password" name="password" placeholder="Password:">
        <button type="submit">New password</button>
    </form>
</div>
