.columns__photo-description {
    opacity: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: .3s all;
    overflow-wrap: break-word;
}

.show-description {
    opacity: 1;
    transition: .3s all;
}

.wrapper__video {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}

.wrapper__video-content {
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-column-gap: 30px;
    justify-content: center;
}

.wrapper__video-content-item {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
}

.wrapper__video-content-item video {
    width: inherit;
}

.load-more-video-btn {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.load-more-private-video-btn {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.wrapper__nav-video {
    display: flex;
}

.wrapper__nav-video nav {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    margin-top: 65px;
}

.my-video-link {
    color: #fff;
    background-color: #0366d6;
    padding: 5px 30px;
    border-radius: 5px;
    transition: .2s;
    text-decoration: none;
}

.my-video-link:hover {
    transition: .2s;
    color: #000;
    background-color: #fafafa;
    text-decoration: none;
}

.active-my-video-link {
    color: #000;
    background-color: #fafafa;
    padding: 5px 30px;
    border-radius: 5px;
    transition: .2s;
    text-decoration: none;
}

.wrapper__video-content-item-container-del-btn-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 15px;
}


.wrapper__video-content-item-decoration-menu {
    display: flex;
    justify-content: space-between;
    height: 20px;
    width: 30px;
    cursor: pointer;
}

.wrapper__video-content-item-decoration-menu-decoration {
    width: 7px;
    height: 7px;
    background-color: #ccc;
    border-radius: 50%;
}

.wrapper__video-content-item-menu-hide {
    position: absolute;
    font-size: 12px;
    right: -10px;
    top: 40px;
    z-index: 2;
    display: none;
    list-style: none;
    margin: 0;
}

.wrapper__video-content-item-menu-hide li button {
    display: block;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 30px;
    transition: .2s;
}

.wrapper__video-content-item-menu-hide li button:hover {
    transition: .2s;
    background-color: #0366d6;
    color: #fff;
}

.wrapper__video-content-item-menu-show {
    display: block;
}


@media screen and (max-width: 450px) {
    .my-video-link {
        font-size: 14px;
    }

    .active-my-video-link {
        font-size: 14px;
    }

    .wrapper__video-content-item {
        max-width: 300px;
    }
}

