.wrapper__textarea-write-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper__textarea-write-article textarea {
    width: 100%;
    max-width: 800px;
    height: 700px;
    resize: none;
    padding: 5px;
    font-size: 18px;
}

.wrapper__textarea-write-article input {
    max-width: 800px;
    width: 100%;
    outline: none;
    margin-bottom: 5px;
    font-size: 18px;
}

.wrapper__textarea-write-article input::placeholder {
    font-size: 18px;
}

.publish-article-button {
    display: block;
    margin: 0 auto;
    border: none;
    background-color: #0366d6;
    width: 200px;
    height: 50px;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
}
