<div class="wrapper__form">
    <form id="auth-form">
        <input type="text" placeholder="Username:" name="username" required>
        <input type="password" placeholder="Password:" name="password" required>
        <button>Sign in</button>
    </form>
    <p class="text-center">You don't have account ? Create now <a href="/signup">Sign up</a></p>
    <p class="text-center">You forget password ? Recovering now <a href="/recovery-password/check-email-form">Recovery password</a></p>
</div>

<div class="wrapper__message-signup mt-10 border">

</div>